.breadcrumb{
    border-bottom: 1px solid $color-grey;
    text-align: center;
    .breadcrumb-item{
        display: inline-block;
        line-height: 30px;
        .breadcrumb-link{
            text-decoration: none;
            text-transform: uppercase;
            color: $color-brown-light;
            font-size: 11px;
            padding: 0 10px;
            line-height: 100%;
            border-left: 1px solid $color-brown-light;
            @include fontfamily-main;
            &.active{
                border-left-color: $color-cream;
                color: $color-cream;
                pointer-events: none;
            }
            &:hover{
                border-left-color: $color-cream;
                color: $color-cream;
                transition: 0.3s;
            }
        }
        &:first-child .breadcrumb-link{
          border-left: none;
        }

    }


}