.content{
    background-image: url("/assets/img/content-background.png");
    //background-position: center;
    background-size: cover;
}
.page-padding{
    padding: 0 30px 0 30px;
    max-width: 1200px;
    margin: 0 auto;
    @media(max-width: 325px) {
        padding: 0 15px 0 15px;
    }
}

.page-padding-inner{
    padding: 0px 15px;
    @media(max-width: 1000px) {
        padding: 0;
    }
}

.page-headers{
    text-align: center;
    padding-bottom: 5px;
    .page-headers-name{
        color: $color-brown-light;
        font-size: 17px;
        text-transform: uppercase;
        line-height: 100%;
        @include fontfamily-third;
        margin-top: 30px;
    }
    .page-headers-header{
        position: relative;
        color: $color-brown-light;
        font-size: 35px;
        text-transform: uppercase;
        line-height: 100%;
        @include fontfamily-secondary;
        margin-top: 10px;
        letter-spacing: 2px;
        margin-bottom: 30px;

        &:after{
            position: absolute;
            display: inline-block;
            content: "";
            width: 80px;
            height: 2px;
            background: $color-cream;
            margin-left: 10px;
            top: 15px;
        }
        &:before{
            position: absolute;
            display: inline-block;
            content: "";
            width: 80px;
            height: 2px;
            background: $color-cream;
            margin-left: -90px;
            top: 15px;
        }
        @media(max-width: 500px) {
            &:after{
                display: none;
            }
            &:before{
                display: none;
            }
        }
    }
    &-text{
        p{
            color: $color-brown-light;
            font-size: 13px;
            line-height: 135%;
            @include fontfamily-third;
            padding: 0 18% 15px;
            @media(max-width: 1000px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}