$brown: #2F2C34;
$white: #ffffff;
$brown-gradient: linear-gradient(to bottom, $brown, #373238);
$orange: #ffff00;
$color-cream: #d0aa8c;
$color-grey: #e8e9e9;
$color-brown-light: #332f36;

@mixin fontfamily-main() {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 500;
}
@mixin fontfamily-secondary() {
    font-family: "Romul", Times, Times New Roman, serif;
    font-weight: normal;
}
@mixin fontfamily-third() {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: normal;
}