$fonts-url: "/assets/fonts/";

@font-face {
    font-family: 'Montserrat';
    src: url('#{$fonts-url}Montserrat-Medium.eot');
    src: url('#{$fonts-url}Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts-url}Montserrat-Medium.woff2') format('woff2'),
        url('#{$fonts-url}Montserrat-Medium.woff') format('woff'),
        url('#{$fonts-url}Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Romul';
    src: url('#{$fonts-url}Romul.eot');
    src: url('#{$fonts-url}Romul.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts-url}Romul.woff2') format('woff2'),
        url('#{$fonts-url}Romul.woff') format('woff'),
        url('#{$fonts-url}Romul.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('#{$fonts-url}Montserrat-Regular.eot');
    src: url('#{$fonts-url}Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts-url}Montserrat-Regular.woff2') format('woff2'),
        url('#{$fonts-url}Montserrat-Regular.woff') format('woff'),
        url('#{$fonts-url}Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
