.footer{
  background-image: url("/assets/img/fotter_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  .footer-top {

    display: flex;
    flex-wrap: wrap;


    .footer-column {
      padding: 35px 8% 0 0;
      width: 25%;
      box-sizing: border-box;
      &:last-child {
        padding-right: 0;
      }

      &-name {
        @include fontfamily-secondary;
        display: inline-block;
        font-size: 19px;
        line-height: 150%;
        position: relative;
        padding-bottom: 50px;
        color: $white;

        &:before {
          position: absolute;
          content: "";
          bottom: 35px;
          width: 70px;
          height: 2px;
          background: $color-cream;

        }
      }

      &:first-child {
        .footer-column-list:before {
          display: none;
        }
      }
      &-list {
        @include fontfamily-third;
        //display: inline-block;
        font-size: 15px;
        line-height: 0.5;
        position: relative;

        &:before {
          display: inline-block;
          content: "";
          position: absolute;
          left: -20%;
          width: 1px;
          top: 1px;
          height: 100%;
          background: $color-grey;
        }

        li {
          margin-bottom: 8px;
          .fotter-link{
            text-decoration: none;
            opacity: 0.5;
            color: $white;
            font-size: 16px;
            line-height: 100%;
            @include fontfamily-third;
            &:hover{
              opacity: 1;
              color: $white;
              transition: 0.3s;
            }
          }
        }
      }

      &.footer-social {
        padding-top: 40px;
        text-align: right;

        .footer-social-inner {
          display: inline-block;
          position: relative;

          &:before {
            display: inline-block;
            content: "";
            position: absolute;
            left: -30%;
            width: 1px;
            top: 1px;
            height: 100%;
            background: $color-grey;
          }
        }
        .footer-column-text {
          padding: 0 0 25px;
          text-align: center;

          .footer-column-text-zakaz-link {
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            opacity: 0.5;
            font-size: 17px;
            line-height: 100%;
            @include fontfamily-main;

            &:hover {
              opacity: 1;
              color: $white;
              transition: 0.3s;
            }

            &:before {
              position: absolute;
              content: "";
              bottom: -5px;
              left: -10px;
              right: -10px;
              //width: 180px;
              height: 2px;
              background: $color-grey;
              opacity: 1;
            }

          }

        }
        .footer-column-square-outsider {
          background-color: rgba(255,255,255,0.14);
          .footer-column-square {
            padding: 10px 20px;
            .footer-column-square-item {
              text-decoration: none;
              .footer-column-square-item-tel {
                text-align: right;
                font-size: 17px;
                color: $white;
                @include fontfamily-third;
                line-height: 100%;
                display: block;
                opacity: 1;
              }

              .footer-column-square-item-word {
                font-size: 8px;
                text-transform: uppercase;
                color: $white;
                opacity: 0.5;
                @include fontfamily-third;
                letter-spacing: 1px;
                text-align: right;
                line-height: 150%;
                padding-bottom: 5px;

                &:hover {
                  opacity: 1;
                  color: $white;
                  transition: 0.3s;
                }
              }
            }

            .footer-column-square-imgs {
              letter-spacing: 3px;

              .footer-column-square-imgs-item {
                text-decoration: none;
                color: $white;
                opacity: 0.5;
                transition: 0.3s;

                &:hover {
                  color: $color-cream;
                }
              }
            }
          }
        }

      }

      @media(max-width: 1200px) {
        width: 50%;

        .footer-column-list:before {
          display: none;
        }

        &.footer-social {
          text-align:left;

          .footer-social-inner {
            &:before {
              display: none;
            }
          }
        }
      }
      @media(max-width: 650px) {
        text-align: center;
        width: 100%;
        padding-right: 0;
        &.footer-social {
          text-align: center;
        }

        &-name {
          &:before {
            left: 50%;
            margin-left: -35px;
          }
        }
      }
    }

  }
  .footer-bottom{
    padding: 40px 0 30px;
    .footer-bottom-text{
      @include fontfamily-third;
      font-size: 15px;
      line-height: 100%;
      color: $white;
      opacity: 0.2;
    }
  }
}






