@import "constans";

.header {


    .header-top {
        display: flex;
        padding: 17px 0 12px;
        position: relative;
        &:before{
            position: absolute;
            display: block;
            content: "";
            top: 26px;
            left: 0px;
            right: 50%;
            height: 1px;
            background: $brown;
            margin-right: 52px;

        }

        &:after{
            position: absolute;
            display: block;
            content: "";
            top: 26px;
            left: 50%;
            right: 0px;
            height: 1px;
            background: $brown;
            margin-left: 52px;
        }

        .number-top {
            width: 40%;
            height: 100%;
            @import "header/number-top";
        }

        .logo{
            width: 20%;

            text-align: center;
        }

        .button-top{
            width: 40%;
            @import "header/button-top";

            .burger {
                display: none;
            }
        }
        @media (max-width: 1130px) {

            &:before{
                display: none;
                //height: 0px;
            }

            &:after{
                display: none;
            }
            .number-top{
                text-align: center;
            }
            .number-top-inner {
                .number-top-item {
                    padding-top: 0;
                    padding-bottom: 15px;
                    display: inline;

                    &:last-child {
                        padding-left: 0;
                    }

                    .number-top-item-word {
                        margin-right: 35px;
                        padding-bottom: 15px;
                        margin-top: -5px;

                        &:after {
                            width: 25px;
                        }
                    }
                }
            }
        }
        @media (max-width: 850px) {
            flex-wrap: wrap;
            .logo{
                text-align: right;
                order: 0;
                width: 50%;
                box-sizing: border-box;
                padding-right: 10px;
            }
            .number-top{
                order: 1;
                width: 50%;
                text-align: left;

                .number-top-inner {
                    padding-left: 10px;
                    .number-top-item {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
            .button-top{
                order: 2;
                width: 100%;
                text-align: center;
                .button-top-inner {
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    .button-small {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }

                .burger{
                    display: inline;
                    position: absolute;
                    right: -45px;
                    top: -3px;
                }
            }
        }
        @media(max-width: 550px) {
            .button-top{
                .burger{
                    display: block;
                    position: static;
                }
            }
        }
        @media (max-width: 500px){
            .logo{
                width: 100%;
                text-align: center;
                padding-right: 0;
            }
            .number-top{
                width: 100%;
                .number-top-inner{
                    padding: 20px 15px 0;
                    text-align: center;
                    .number-top-item {
                        display: inline-block;
                    }
                }
            }
        }
    }


    .nav{
        background: $brown-gradient;
        @import "header/menu";
    }
}