.button-small{
    display: inline-block;
    text-decoration: none;
    color: $brown;
    font-size: 13px;
    @include fontfamily-main;
    text-transform: uppercase;
    line-height: 28px;
    min-width: 143px;
    padding: 0 20px;
    border: 1px solid $brown;
    text-align: center;
    transition: 0.3s;
    &:hover{
        color: $white;
        background: $color-cream;
        border-color: $color-cream;
    }
}

.button-big{
    display: inline-block;
    text-decoration: none;
    color: $brown;
    font-size: 15px;
    @include fontfamily-main;
    text-transform: uppercase;
    line-height: 28px;
    min-width: 143px;
    padding: 6px 65px;
    border: 2px solid $brown;
    text-align: center;
    transition: 0.3s;
    &:hover{
        color: $white;
        background: $color-cream;
        border-color: $color-cream;
    }
}