.excursions{
  display: flex;
  flex-wrap: wrap;
  //align-items: flex-start;
  height: 100%;
  margin: 30px -30px 0;
  .item-card{
    position: relative;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    padding: 0 30px 90px;
    &-foto{
      height: 235px;
      background-size: cover;
      background-position: center center;
    }
    .item-card-name{
      position: relative;
      color: $color-brown-light;
      font-size: 25px;
      text-transform: uppercase;
      @include fontfamily-secondary;
      margin: 25px 0 45px;
      letter-spacing: 2px;
      &:before{
        position: absolute;
        content: "";
        bottom: -25px;
        left: 50%;
        margin-left: -45px;
        width: 90px;
        height: 1px;
        background: #d0aa8c;

      }
    }
    .item-card-text {
      margin-bottom: 30px;
      p {
        color: $color-brown-light;
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 120%;
        @include fontfamily-third;
      }
    }
    .item-card-button{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 45px;
    }
  }
  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
    .item-card{
      position: relative;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      padding: 0 30px 90px;
    }

  }
}


