.button-top-inner {
    text-align: right;
    padding-top: 40px;
    .button-small{
        margin-left: 20px;
    }
    @media (max-width: 1130px) {
        text-align: center;
        padding-top: 0px;
        .button-small{
            margin-bottom: 20px;
        }
    }
    @media (max-width: 800px) {
        padding-top: 0px;
        .button-small{
            margin-bottom: 20px;
        }
    }
}