.menu{
    display: flex;

    .item{
        position: relative;
        flex-grow: 1;
        color: $white;
        text-decoration: none;
        @include fontfamily-secondary;
        line-height: 60px;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        transition: 0.3s;
        &:first-child{
            text-align: left;
        }
        &:last-child{
            text-align: right;
            &:before{

                display: none;
            }
        }
        &:before{
            display: inline-block;
            content: "";
            position: absolute;
            right: 0;
            width: 1px;
            top: 20px;
            height: 20px;
            background: $white;
            opacity: 0.32;

        }
        &:hover{
            color: $color-cream;
        }


    }
}
.burger{
    display: none;
}
#menu-switcher{
    display: none;
}

@media (max-width: 850px) {
    background:none;
    text-align: right;
    user-select: none;

    input:checked + .menu {
        display: block;
    }
    .menu {
        display: none;
        padding: 0 0 20px;

        .item{
            display: block;
            color: $brown;
            line-height: 30px;
            &:first-child{
                text-align: center;
            }
            &:before{
                display: none;
            }
            &:last-child{
                text-align: center;
            }
            &:hover{
                color: $color-cream;
            }
        }
    }
}
