.number-top-inner {
    .number-top-item {
        display: inline-block;
        padding-top: 37px;
        text-decoration: none;
        overflow: hidden;
        &:last-child{
            padding-left: 20%;
        }
        .number-top-item-tel {
            font-size: 17px;
            color: $brown;
            @include fontfamily-main;
            line-height: 100%;
            display: block;
        }

        .number-top-item-word {
            position: relative;
            display: inline-block;
            font-size: 11px;
            text-transform: uppercase;
            color: $color-cream;
            @include fontfamily-main;
            line-height: 100%;
            padding-top: 10px;

            &:after{
                position: absolute;
                display: inline-block;
                content: "";
                width: 1000px;
                height: 1px;
                background: $color-cream;
                left: 100%;
                margin-left: 10px;
                top: 15px;

            }
        }

    }
    @media (max-width: 1130px) {
        .number-top-item{
            padding-top: 0;
            padding-bottom: 15px;
            display: inline;

            &:last-child{
                padding-left: 0;
            }

            .number-top-item-word{
                margin-right: 35px;
                padding-bottom: 15px;
                margin-top: -5px;
                &:after{
                    width: 25px;
                }
            }
        }
    }
}